<%- include('header.ejs') -%>

<h1>This is about page</h1>

<p>jhfwsinf wuh wersodjfniaru  iouwerhtioadn fuerhtwioaefu uhfiowsf eruthao iurfha dnfioasuhaowieuf aodufh </p>

<%- include('footer.ejs') -%>
